/* ------- FONTS --------- */
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=92c0d567-133b-4888-abe5-f820797ebebb");
  @font-face{
    font-family:"NeuzeitSLTW01-BookHeavy";
    src:url("Fonts/74c31844-4217-4fe8-82f7-88a5075de2e8.eot?#iefix");
    src:url("Fonts/74c31844-4217-4fe8-82f7-88a5075de2e8.eot?#iefix") format("eot"),url("Fonts/3da0a3e3-3dff-405c-a0b2-0b0050b21771.woff2") format("woff2"),url("Fonts/a1476bae-b118-4e9d-b711-c84091d9bc16.woff") format("woff"),url("Fonts/096111d9-3ba2-4828-ae9a-29fb4e03c0b1.ttf") format("truetype"),url("Fonts/74a8e701-bffc-464e-a60b-63169debd492.svg#74a8e701-bffc-464e-a60b-63169debd492") format("svg");
  }


h1 {
  font-size: 2rem;
  margin: 0;
  line-height: 90%;
  padding: 20px;
  margin-bottom: 150px;
  font-family:"NeuzeitSLTW01-BookHeavy";
  font-weight:normal;
}


h2 {
  font-size: 7rem;
  margin: 0;
  line-height: 90%;
  padding: 20px;
  margin-bottom: 90px;
  font-family:"NeuzeitSLTW01-BookHeavy";
  font-weight:normal;
}


h3 {
  font-size: 4rem;
  margin: 0;
  line-height: 90%;
  padding: 20px;
  margin-bottom: 90px;
  font-family:"NeuzeitSLTW01-BookHeavy";
  font-weight:normal;
}

h4 {
  font-size: 10rem;
  margin: 0;
  line-height: 90%;
  padding: 20px;
  margin-bottom: 90px;
  font-family:"NeuzeitSLTW01-BookHeavy";
  font-weight:normal;
}

h5 {
  font-size: 2.5rem;
  margin: 0;
  line-height: 90%;
  padding: 20px;
  margin-bottom: 90px;
  font-family:"NeuzeitSLTW01-BookHeavy";
  font-weight:normal;
}

h6 {
  font-size: 2.5rem;
  margin: 0;
  line-height: 120%;
  padding: 20px;
  margin-bottom: 90px;
  font-family:"NeuzeitSLTW01-BookHeavy";
  font-weight:normal;
}

 h7 {
  font-size: 2rem;
  margin: 0;
  line-height: 90%;
  padding: 20px;
  margin-bottom: 200px;
  font-family:"NeuzeitSLTW01-BookHeavy";
  font-weight:normal;
}

a {
  color: black;
  text-decoration: none;
  font-family:"NeuzeitSLTW01-BookHeavy";
  font-weight:normal;
}

.underline {
  padding-bottom: 2px;
  border-bottom: 4px solid black;
}
/* ------- FONTS --------- */






/* ------- Home Startseite Bild-Hover --------- */
#background-1:hover{
  background-image:  url("../img/home/IMG_1922.jpg");
  background-size: cover;
  background-position: center;
}
#background-1:hover h2{
  opacity:0;
}


#background-2:hover{
  background-image:  url("../img/home/IMG_2005.jpg");
  background-size: cover;
  background-position: center;
}
#background-2:hover h3{
  opacity:0;
}


#background-3:hover{
  background-image:  url("../img/home/IMG_1712.jpg");
  background-size: cover;
  background-position: center;
}
#background-3:hover h3{
  opacity:0;
}


#background-4:hover{
  background-image:  url("../img/home/IMG_1968.jpg");
  background-size: cover;
  background-position: center;
}
#background-4:hover h2{
  opacity:0;
}


#background-5:hover{
  background-image:  url("../img/home/IMG_1859.jpg");
  background-size: cover;
  background-position: center;
}
#background-5:hover h4{
  opacity:0;
}


#background-6:hover{
  background-image:  url("../img/home/IMG_1571_be.jpg");
  background-size: cover;
  background-position: center;
}
#background-6:hover h3{
  opacity:0;
}


#background-7:hover{
  background-image:  url("../img/home/TieuKhe_Mayer_1.jpg");
  background-size: cover;
  background-position: center;
}
#background-7:hover h2{
  opacity:0;
}

/* ------- Home Startseite Bild-Hover --------- */








/* ------- Rasterlinien, JQuery-Effekt Bilder-Galerie --------- */
.raster img {
  border: 1px solid white;
}

.raster img{
    opacity:0;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.raster img.onScreen{
    opacity:1;
}
/* ------- Rasterlinien, JQuery-Effekt Bilder-Galerie --------- */






/* ------- Hover Effekte --------- */
.logo:hover{
  color: black;
  opacity: 0.3;
  transition: 1s;
}

.navi:hover {
  color: black;
  opacity: 0.3;
  transition: 1s;
}

.burger-menu:hover{
  color: black;
  opacity: 0.3;
  transition: 1s;
}
/* ------- Hover Effekte --------- */







/* ------- Back to top BUTTON --------- */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/* ------- Back to top BUTTON --------- */






/* ------- BURGER-MENU --------- */
.burger-menu {
  padding: 20px 30px;
  top: 0;
  right: 0;
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  display: block;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: left;
    line-height: 45px;
    margin-top: 30px;
    margin-left: 15px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 50px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #818181;
}

.overlay .closebtn {
    position: absolute;
    top: 2px;
    right: 22px;
    font-size: 50px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* ------- BURGER-MENU --------- */


















/* ------- MediaQuery Responsive --------- */
@media (max-width: 1024px) {
  html {font-size: 10px;}
  h1 {font-size:25px;}
  }

@media (max-width:600px) {
  html {font-size: 7px;}
  h1 {font-size:25px;}
  h2 {font-size:35px}
  h3 {font-size:35px}
  h4 {font-size:35px}
  #background-1 {width:100%}
  #background-2 {width:100%}
  #background-3 {width:100%}
  #background-4 {width:100%}
  #background-5 {width:100%}
  #background-6 {width:100%}
  }
/* ------- MediaQuery Responsive --------- */
