
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=92c0d567-133b-4888-abe5-f820797ebebb");
    @font-face{
        font-family:"Conduit ITC W01 Bold";
        src:url("Fonts/ef1cf8c3-989e-4b7e-ad89-9e034d47686d.eot?#iefix");
        src:url("Fonts/ef1cf8c3-989e-4b7e-ad89-9e034d47686d.eot?#iefix") format("eot"),url("Fonts/4680ad80-371f-497c-8926-35654adc2249.woff2") format("woff2"),url("Fonts/fdaf48d4-c023-4a03-b948-53535ee4d571.woff") format("woff"),url("Fonts/ca6dc25e-d400-4735-9fb9-ee2d025ebb5c.ttf") format("truetype"),url("Fonts/aa206b9b-b888-4ce6-8039-669469e9b429.svg#aa206b9b-b888-4ce6-8039-669469e9b429") format("svg");
    }

h1 {
  font-size: 7rem;
  margin: 0;
  line-height: 90%;
  padding: 20px;
  margin-bottom: 300px;
  font-family:"Conduit ITC W01 Bold";
  font-weight:normal;
}


h2 {
  font-size: 7rem;
  margin: 0;
  line-height: 90%;
  padding: 20px;
  margin-bottom: 90px;
  font-family:"Conduit ITC W01 Bold";
  font-weight:normal;
}


h3 {
  font-size: 4rem;
  margin: 0;
  line-height: 90%;
  padding: 20px;
  margin-bottom: 90px;
  font-family:"Conduit ITC W01 Bold";
  font-weight:normal;
}

h4 {
  font-size: 10rem;
  margin: 0;
  line-height: 90%;
  padding: 20px;
  margin-bottom: 90px;
  font-family:"Conduit ITC W01 Bold";
  font-weight:normal;
}

h5 {
  font-size: 2.5rem;
  margin: 0;
  line-height: 90%;
  padding: 20px;
  margin-bottom: 90px;
  font-family:"Conduit ITC W01 Bold";
  font-weight:normal;
}


#background-1:hover{
  background-image:  url("../img/colors/IMG_1858.jpg");
  background-size: cover;
  background-position: center;
}
#background-1:hover h2{
  opacity:0;
}


#background-2:hover{
  background-image:  url("../img/lettering/IMG_1940.jpg");
  background-size: cover;
  background-position: center;
}
#background-2:hover h3{
  opacity:0;
}


#background-3:hover{
  background-image:  url("../img/facade/IMG_1823.jpg");
  background-size: cover;
  background-position: center;
}
#background-3:hover h3{
  opacity:0;
}


#background-4:hover{
  background-image:  url("../img/windows/IMG_1784.jpg");
  background-size: cover;
  background-position: center;
}
#background-4:hover h2{
  opacity:0;
}


#background-5:hover{
  background-image:  url("../img/doors/IMG_1859.jpg");
  background-size: cover;
  background-position: center;
}
#background-5:hover h4{
  opacity:0;
}


#background-6:hover{
  background-image:  url("../img/facade/IMG_1818.jpg");
  background-size: cover;
  background-position: center;
}
#background-6:hover h3{
  opacity:0;
}




.raster img {
  border: 1px solid white;
}

.navi:hover {
  color: blue;
}




.raster img{
    opacity:0;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.raster img.onScreen{
    opacity:1;
}




a {
  color: black;
  text-decoration: none;
  font-family:"Conduit ITC W01 Bold";
  font-weight:normal;
}









@media (max-width: 1000px) {
  html {font-size: 12px;}
  }

@media (max-width:600px) {
  html {font-size: 7px;}
  }
